
    {% extends "base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static "chat/css/Messaging.css" %}"> {% endblock %}
  {% block js %}<script src="{% static "chat/js/scriptMessage.js" %}"> </script>{% endblock %}
{% block content %}
    <div class="container">
        <div class="msg-header">
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <p class="font-weight-light text-center">You can discuss here!</p>
                    <div class="msg-page">
                    </div>
                </div>
            </div>
            <div id="inputDiv" class="input-group input-group-lg">
                <input id="message" style="border-radius: 10px;" type="text" onkeydown="keyCode(event)" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Type a message">
                <button id="btn" type="button" class="btn btn-link" onclick="addSend()">Send</button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© 2019 Copyright: Group Potato</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
<script type="text/javascript">
 var info = {{ content }};
 
 var roomName = info.uuid_conv;


    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');


    chatSocket.onopen = function(e){
        fetchMessage();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data['command'] === 'new_message'){

           addReceived(data.Username,data.message,data.user); 
        }
        if(data['command'] === 'messages'){
            for(let i=0;i<data['conv'].length;i++){
               addReceived(data['conv'][i].Username,data['conv'][i].message ,data.user);
            }
        }
        if(data['command'] === 'redirection'){
            window.location = '/blog/signIn';
        }
         if(data['command'] === 'no_data'){
            console.log('ok');
        }
       
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

 

     document.querySelector('#btn').onclick = function(e) {
        var messageInputDom = document.querySelector('#message');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'uuid_conv': info.uuid_conv,
            'from':info.from,
        }));

        messageInputDom.value = '';
    };


   /*document.querySelector('#message').focus();
    document.querySelector('#message').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#bts').click();
        }
    };*/

    console.log(info.uuid_conv);
    function fetchMessage(){
          chatSocket.send(JSON.stringify({
            'command': 'fetch_messages',
            'uid_conv' : info.uuid_conv,
        }));
    }
</script>

{% endblock %}
