@font-face {
    font-family: "Catamaran";
    src: url('Catamaran-Black.ttf') format('truetype');
}

@media only screen and (max-width: 802px){
    .txt {
        display: none;
    }
}

* {
    font-family: 'Catamaran';
    padding: 3px;
}

html, body, #image {
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),url("../picture/hero.jpg") no-repeat center fixed;
    background-size: cover;
    margin-bottom: 50px;
}

#logoPage{
    margin-top: 100px;
    min-width: 128px;
    height: 128px;
}

body {
    color: rgb(36, 48, 51);
}

.nav-item {
    margin-left: 20px;
}

.nav-logo{
    min-width: 32px;
    height: 32px;
    margin-right: 10px;
}

.dropdown {
    margin-left: auto;
    margin-right: 40px;
}

footer p {
    margin-top: 200px; 
    padding-right: 5px;
    text-align: right;
}