
 {% extends "base.html" %}
{% load static %}
{% block css %}   <link rel="stylesheet" type="text/css" href="{% static "advertisement/css/Home.css" %}"> {% endblock %}
 
{% block content %}
    <div class="container-fluid">
        <form action="{% url 'post_food_form' %}" enctype='multipart/form-data' method="post">
			{% csrf_token %}
            <div class="form-group">
                <label for="FoodCategory">Please enter the category of the food you want to submit</label>
                <input type="name" class="form-control" name="foodCategory" placeholder="Indian">
            </div>
            <div class="form-group">
                <label for="FoodDescription">Please describe the food and your location</label>
                <input type="name" class="form-control" name="foodDescription" placeholder="Hot meal with meat and spices">
            </div>
            <div class="form-group">
                <label for="FoodTitle">Please enter the name of your meal</label>
                <input type="name" class="form-control" name="foodTitle" placeholder="Chicken Tikka Massala">
            </div>
            <div class="form-group">
                <label for="FoodPhoto">Photo of your meal</label>
                <input type="file"  accept="image/gif, image/jpeg, image/png" class="form-control-file" name="image">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="vegStatus">
                <label class="form-check-label" for="Vegan">Is your meal vegan ?</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <footer class="footer">
        <p>© 2019 Copyright: Group Potato</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>

{% endblock %}
